body {
    font-family: "Times New Roman", sans-serif;
    font-size: 18px;
}

.header {
    font-size: 45px;
    text-align: center;
    background-color: aquamarine;
}

a {
    color: rgb(197, 43, 69);
}

.links {
    text-align: center;
    list-style-type: none;
}