body {
    font-family: "Times New Roman", sans-serif;
    font-size: 18px;
    text-align: center;
}

.header-index,
.header-lasagna,
.header-bb,
.header-cw {
    font-size: 45px;
    text-align: center; 
}

.header-index {
    background-color: aquamarine;
}

.header-lasagna {
    background-color: brown;
}

a {
    color: rgb(197, 43, 69);
}

ul {
    list-style-type: none;
}