body {
    font-family: "Times New Roman", sans-serif;
    font-size: 18px;
    text-align: center;
}

div {
    margin-left: 500px;
    margin-right: 500px;
}

.header-index,
.header-lasagna,
.header-bb,
.header-cw {
    font-size: 45px;
    text-align: center; 
}

.header-index {
    background-color: aquamarine;
}

.header-lasagna {
    background-color: brown;
}

.header-bb {
    background-color: rgb(223, 182, 69)
}

.header-cw {
    background-color: rgb(235, 234, 173);
}

a {
    color: rgb(197, 43, 69);
}

ul {
    list-style-type: none;
}

ol {
    text-align: left;
}